<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta name="author" content="Deeptika Mandha">
    <meta name ="keywords" content ="Carnegie Mellon University, Information Systems">
    <meta name = "description" content = "Deeptika Mandha professional website">
    <title>Deeptika Mandha</title>
</head>
<body>
    <header>
        <h1 id="webname">Deeptika Mandha</h1>
        <nav>
            <a href = "../index.html" class="link">about</a>
            <a href = "cv.html" class="link">resume</a>
            <a href = "fun.html" class="link">play</a>
            <a href = "contact.html" class="link">contact</a>
        </nav>
    </header>
    <div class = "main">
        <h2>Contact Me</h2>
        <form>
            <label for="name">Your name:</label>
        </form>
        <form>
            <input type="text" id="name" name="name">
        </form>
        <form>
            <label for="email">Your email:</label>
        </form>
        <form>
            <input type="text" id="email" name="email">
        </form>
        <form>
            <label for="comment">Your comment:</label>
        </form>
        <form>
            <input type="text" id="comment" name="comment" style="height:150px; width:200px">
        </form>
        <form>
            <input type="submit" id="submit" name="submit">
        </form>
        
        <table>
            <tr>
                <th>Contact Method</th>
                <th>Descripton</th>
            </tr>
            <tr>
                <td>Email</td>
                <td>dmandha@andrew.cmu.edu</td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>704-641-6513</td>
            </tr>
            <tr>
                <td>LinkedIn</td>
                <td><a href="https://www.linkedin.com/in/deeptika-mandha-628b8b2ab/" class="link">Link</a></td>
            </tr>
        </table>
    </div>
    <footer>
        <p>&copy; 2025 designed and coded by Deeptika Mandha</p>
    </footer>
</body>
</html>