<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta name="author" content="Deeptika Mandha">
    <meta name ="keywords" content ="Carnegie Mellon University, Information Systems">
    <meta name = "description" content = "Deeptika Mandha professional website">
    <title>Deeptika Mandha</title>
</head>
<body>
    <header>
        <h1 id="webname">Deeptika Mandha</h1>
        <nav>
            <a href = "../index.html" class="link">about</a>
            <a href = "cv.html" class="link">resume</a>
            <a href = "fun.html" class="link">play</a>
            <a href = "contact.html" class="link">contact</a>
        </nav>
    </header>
    <div class = "main">
        <h2>Curriculum Vitae</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Center for Transformational Play</td>
                <td>Game Artist/Animator</td>
            </tr>
            <tr>
                <td>Lunar Gala</td>
                <td>Member of Motion Design</td>
            </tr>
            <tr>
                <td>Games for Love</td>
                <td>Game Art Intern</td>
            </tr>
            <tr>
                <td>CMU Jiya</td>
                <td>Creative Manager</td>
            </tr>
        </table>

        <a href="../static/Deeptika M. Resume CMU.pdf" target="_blank" class="link">My resume</a>
    </div>
    <footer>
        <p>&copy; 2025 designed and coded by Deeptika Mandha</p>
    </footer>
</body>
</html>