<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta name="author" content="Deeptika Mandha">
    <meta name ="keywords" content ="Carnegie Mellon University, Information Systems">
    <meta name = "description" content = "Deeptika Mandha professional website">
    <title>Deeptika Mandha</title>
</head>
<body>
    <header>
        <h1 id="webname">Deeptika Mandha</h1>
        <nav>
            <a href = "../index.html" class="link">about</a>
            <a href = "cv.html" class="link">resume</a>
            <a href = "fun.html" class="link">play</a>
            <a href = "contact.html" class="link">contact</a>
        </nav>
    </header>
    <div class = "main">
        <h2>Things I love to do for fun</h2>
        <ul>
            <li>Drawing</li>
            <li>Crochet</li>
            <li>Hanging out with friends</li>
            <li>Thrifting</li>
        </ul>
    </div>
    <footer>
        <p>&copy; 2025 designed and coded by Deeptika Mandha</p>
    </footer>
</body>
</html>