<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Deeptika Mandha">
    <meta name ="keywords" content ="Carnegie Mellon University, Information Systems">
    <meta name = "description" content = "Deeptika Mandha professional website">
    <title>Deeptika Mandha</title>
</head>
<body>
    <header>
        <h1>Deeptika Mandha</h1>
        <nav>
            <a href = "../index.html">Home</a>
            <a href = "cv.html">CV</a>
            <a href = "contact.html">Contact Me</a>
            <a href = "fun.html">For Fun</a>
        </nav>
    </header>
    <div class = "main">
        <h2>Curriculum Vitae</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Center for Transformational Play</td>
                <td>Game Artist/Animator</td>
            </tr>
            <tr>
                <td>Lunar Gala</td>
                <td>Member of Motion Design</td>
            </tr>
        </table>

        <a href="../static/Deeptika M. Resume CMU.pdf">My resume</a>
    </div>
    <footer>
        <p>&copy; 2025 designed and coded by Deeptika Mandha</p>
    </footer>
</body>
</html>